<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload Files</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="profileImage">Profile Image</label>
      <input type="file" name="profileImage" id="profileImage" />

      <label for="coverImage">Cover Image</label>
      <input type="file" name="coverImage" id="coverImage" />

      <button type="submit">Upload</button>
    </form>
  </body>
</html>
